In [2]:
for t in  range(2,5,1):
    for m in range(1,6,1):
        print(t, "x", m, "=", t*m)
    print("-------------")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
-------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
-------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
-------------

In [8]:
for m in range(1,6,1):
    for t in  range(2,10,3):
        print(t, "x", m, "=", t*m, end="\t")
    print("")

2 x 1 = 2	5 x 1 = 5	8 x 1 = 8
2 x 2 = 4	5 x 2 = 10	8 x 2 = 16
2 x 3 = 6	5 x 3 = 15	8 x 3 = 24
2 x 4 = 8	5 x 4 = 20	8 x 4 = 32
2 x 5 = 10	5 x 5 = 25	8 x 5 = 40

In [9]:
for i in range(1,6,1):
    for j in range(2,4,1):
        print(i,j)

1 2
1 3
2 2
2 3
3 2
3 3
4 2
4 3
5 2
5 3

In [10]:
for i in range(10,1,-1):
    for j in range(1,i+1):
        print(i, j)
     #   print(" ", end="")
    #print(" ", "*")

10 1
10 2
10 3
10 4
10 5
10 6
10 7
10 8
10 9
10 10
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
7 1
7 2
7 3
7 4
7 5
7 6
7 7
6 1
6 2
6 3
6 4
6 5
6 6
5 1
5 2
5 3
5 4
5 5
4 1
4 2
4 3
4 4
3 1
3 2
3 3
2 1
2 2

In [10]:
for m in range(1,6,1):
    for t in  [3,8,13]:
        print(t, "x", m, "=", t*m, end="\t")
    print("")

3 x 1 = 3	8 x 1 = 8	13 x 1 = 13
3 x 2 = 6	8 x 2 = 16	13 x 2 = 26
3 x 3 = 9	8 x 3 = 24	13 x 3 = 39
3 x 4 = 12	8 x 4 = 32	13 x 4 = 52
3 x 5 = 15	8 x 5 = 40	13 x 5 = 65

In [11]:
for i in range(10):
    for j in range(10-i):
        print("#", end="")
    for k in range(i+1):
        print("*",end="")
    print()

##########*
#########**
########***
#######****
######*****
#####******
####*******
###********
##*********
#**********

In [12]:
for i in range(10):
    for j in range(10-i):
        print(" ", end="")
    for k in range(i+1):
        print("*",end="")
    print()

          *
         **
        ***
       ****
      *****
     ******
    *******
   ********
  *********
 **********

In [15]:
for i in range(10,0,-1):
    print(i*"*")

**********
*********
********
*******
******
*****
****
***
**
*

In [18]:
for i in range(10,0,-1):
    for j in range(10-i):
        print(" ", end="")
    for k in range(i):
        print("*",end="")
    print()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *

In [19]:
for i in range(10):
    for j in range(i+1):
        print(" ", end="")
    for k in range(10-i):
        print("*",end="")
    print()

 **********
  *********
   ********
    *******
     ******
      *****
       ****
        ***
         **
          *

In [19]:
for i in range(10):
    for j in range(i+1):
        print("*", end="")
    for k in range(10-i):
        print(" ",end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********