In [2]:
range(0,10,1)

range(0, 10)

In [3]:
for i in range(3):
    print(i)

0
1
2

In [4]:
t = int(input("Enter number to generate Table: "))
for i in range(1,11,):
    print(t, "x", i, "=", t *i)

Enter number to generate Table: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [16]:
print(4*"*")

****

In [5]:
for i in range(1,11):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********
**********

In [6]:
for i in range(10,0,-1):
    print(i*"*")

**********
*********
********
*******
******
*****
****
***
**
*

In [7]:
t = 2
for i in range(10,0,-1):
    print(t, "x", i, "=", t *i)

2 x 10 = 20
2 x 9 = 18
2 x 8 = 16
2 x 7 = 14
2 x 6 = 12
2 x 5 = 10
2 x 4 = 8
2 x 3 = 6
2 x 2 = 4
2 x 1 = 2

In [8]:
# Even number generation in range
t = 2
for i in range(1,11,1):
    if (i%2) == 0:
        print(t, "x", i, "=", t *i)

2 x 2 = 4
2 x 4 = 8
2 x 6 = 12
2 x 8 = 16
2 x 10 = 20

In [9]:
# odd number generation in range
t = 2
for i in range(1,11,1):
    if (i%2) != 0:
        print(t, "x", i, "=", t *i)

2 x 1 = 2
2 x 3 = 6
2 x 5 = 10
2 x 7 = 14
2 x 9 = 18

In [10]:
# odd number generation in range
t = 2
for i in range(1,11,1):
    if (i%2) == 1:
        print(t, "x", i, "=", t *i)

2 x 1 = 2
2 x 3 = 6
2 x 5 = 10
2 x 7 = 14
2 x 9 = 18

In [11]:
# Even and odd number generation in range through input
for i in range(1,11,1):
    if (i%2) == 1:
        print(i, ": Odd")
    else:
        print(i,": Even")

1 : Odd
2 : Even
3 : Odd
4 : Even
5 : Odd
6 : Even
7 : Odd
8 : Even
9 : Odd
10 : Even

In [12]:
lst = [23, 66, 41, 89, 78, 33]
for i in lst:
    print(i)

23
66
41
89
78
33

In [13]:
lst = [23, 66, 41, 89, 78, 33]
for i in lst:
    if (i%2) == 1:
        print(i, ": Odd")
    else:
        print(i,": Even")

23 : Odd
66 : Even
41 : Odd
89 : Odd
78 : Even
33 : Odd

In [14]:
Lst = [23, 66, 41, 89, 78, 33]
for i in range(0,len(Lst)):
    print(Lst[i])

23
66
41
89
78
33

In [15]:
print(sum(Lst))

330

In [19]:
sum = 0
for i in range(0, len(Lst)):
    print('i= ',lst[i])
    sum = sum + Lst[i]
    print('sum=',sum)

i=  23
sum= 23
i=  66
sum= 89
i=  41
sum= 130
i=  89
sum= 219
i=  78
sum= 297
i=  33
sum= 330

In [20]:
sum = 0
for i in range(0, len(Lst)):
    sum = sum + Lst[i]
print(sum)

330

#Task# sum, min, max, count(without len), Avg, search a value in list

In [23]:
Lst = [23,66,41,9,78,8]

In [24]:
# find minimum value in list
mn = Lst[0]
for i in range(1, len(Lst)):
    if Lst[i] < mn:
        mn = Lst[i]
print(mn)

8

In [25]:
# find maximum value in list
mn = Lst[0]
for i in range(1, len(Lst)):
    if Lst[i] > mn:
        mn = Lst[i]
print(mn)

78

In [27]:
mn = Lst[0]
for i in Lst:
    if i < mn:
        mn = i
print(mn)

8

In [29]:
mx = Lst[0]
for i in Lst:
    if i > mx:
        mx = i
        print(mx)

66
78

In [31]:
# sum of values of the list
sum = 0
for i in range(0, len(Lst)):
    sum = sum + Lst[i]
print(sum)

225

In [32]:
# count the values without using len
count = 0
for i in Lst:
    count = count + 1
print(count)

6

In [33]:
# avg
avg = sum / count
print(avg)

37.5

In [34]:
# search a value in list
a = 33
res = "False"
for i in Lst:
    if i == a:
        res = "true"
    
print(res)

False

In [35]:
# search a value in list
Lst = [23, 66, 41,9, 78, 33]

a = int(input("Enter a Number: "))
res = "Not Found"
for i in Lst:
   # print(i)
    if i == a:        
        res = "Found"
        break
print(a, res)

Enter a Number: 41
41 Found

In [36]:
Lst = [23, 66, 41, 89, 78, 33]
Olist, Elist = [], [] # null list is created

for i in Lst:
    if (i%2) == 0:
        #print(i, "Even")
        Elist.append(i)
    else:
        #print(i, "Odd")
        Olist.append(i)

print(Elist)
print(Olist)

[66, 78]
[23, 41, 89, 33]

In [37]:
#plaindrome : while reversing the words it is not changed

In [38]:
txt = ["python", "civic", "mangodb", "radar"]

In [39]:
for i in txt:
    if i == i[::-1]: #Reverse the word's alphabet
        print(i, "is a plaindrome")
    else:
        print(i, "is not a plaindrome")

python is not a plaindrome
civic is a plaindrome
mangodb is not a plaindrome
radar is a plaindrome

In [41]:
txt = input("please enter a string.")
if (txt==txt[::-1]):
    print(txt, "is a plaindrome")
else:
    print(txt, "is not a plaindrome")

 please enter a string.tarat
tarat is a plaindrome

In [42]:
string=input(("Enter a string:"))
if(string==string[::-1]):
      print("The string is a palindrome")
else:
      print("Not a palindrome")

Enter a string:talat
The string is a palindrome