In [1]:
Mrks = int(input('Enter Mrks: '))

Grd = 'A' if Mrks >= 80 else 'B' if Mrks >= 70 else 'C' if Mrks >= 60 else 'F'

print(Grd)

Enter Mrks: 47
F

In [2]:
# Ternary Operator for For Loop

output_list = []
for i in range(5):
    output_list.append(i+1)

print("Output List using for loop:", output_list )

Output List using for loop: [1, 2, 3, 4, 5]

In [3]:
output_list = []
for i in range(5): output_list.append(i+1)

print("Output List using for loop:", output_list )

Output List using for loop: [1, 2, 3, 4, 5]

In [5]:
# list Comprehesion

output_list = [i+1 for i in range(5)]
print("Output list using List Comprehension:", output_list)

Output list using List Comprehension: [1, 2, 3, 4, 5]

In [6]:
# list Comprehesion

output_list = [(i+1)**2 for i in range(5)]
print("Output list using List Comprehension:", output_list)

Output list using List Comprehension: [1, 4, 9, 16, 25]

### Dictionary comprehensions:

In [7]:
output_list = {i:i**2 for i in range(1,6)}
print("Output list using Dictionary Comprehension:", output_list)

Output list using Dictionary Comprehension: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Sets

* Set is a collection of distinct objects forming a group. 

* Curly brackets are used while writing sets.

* Values in sets are ordered and repeated values are not considered.

In [8]:
A = {4,8,2,6,1}

In [9]:
A

{1, 2, 4, 6, 8}

In [10]:
C = {2,8,6,6,4}

In [11]:
C

{2, 4, 6, 8}

In [12]:
A = {1,2,3,4}
B = {3,4,5,6}
A.union(B)

{1, 2, 3, 4, 5, 6}

In [13]:
# another way of union
print(A|B)

{1, 2, 3, 4, 5, 6}

In [14]:
A.intersection(B) # print(A & B)

{3, 4}

In [15]:
A.difference(B) # print (A-B)

{1, 2}

In [16]:
B.difference(A) # print (B-A)

{5, 6}

In [17]:
print (B-A)

{5, 6}

In [18]:
# Symmetric Difference
print (A ^ B) # (A-B) | (B-A)

{1, 2, 5, 6}

In [19]:
B.remove(5)
B.remove(6)
B

{3, 4}

In [20]:
print(A)
print(B)

{1, 2, 3, 4}
{3, 4}

In [21]:
B.issuperset(A)

False

In [22]:
B.issubset(A)

True

In [23]:
A.issuperset(B)

True

In [24]:
A.issubset(B)

False

In [25]:
B.add(5)
B

{3, 4, 5}

In [26]:
B.issubset(A)

False

In [43]:
C = {1,2}
D = {1,2,3,4,4,'sa'}
D

{1, 2, 3, 4, 'sa'}

In [28]:
A = {1,2,3,4}

In [29]:
print(A==B)

False

In [30]:
print(A==D)

True

In [31]:
print (2 in C)

True

In [32]:
print (2 not in C)

False

In [33]:
# Conversion Set to List

A1 = list(A)
A1

[1, 2, 3, 4]

In [34]:
# Conversion Set to List
Lst = [10,13,10,5,6,13,2,10,5]
Lst

[10, 13, 10, 5, 6, 13, 2, 10, 5]

In [35]:
S = set(Lst)
S

{2, 5, 6, 10, 13}

In [36]:
S.update([7,8])
S

{2, 5, 6, 7, 8, 10, 13}

In [37]:
print(len(S))

7

In [38]:
for i in S:
    print(i)

2
5
6
7
8
10
13

In [39]:
max(S)

13

In [40]:
sum(S)

51

In [41]:
# convert the list to set

set(['tree','house','electronic'])

{'electronic', 'house', 'tree'}

# Tuples

In [44]:
t = (1,2,3)
print(t)

(1, 2, 3)

In [45]:
# tuple is the default collection of python
t1 = 1,2,3
print(t1)

(1, 2, 3)

In [48]:
t = ('one', 2)
t

('one', 2)

In [49]:
print(t.index('one'))

0

In [50]:
print(t.count(2))

1

In [51]:
t = ('one',2,'one')
print(t.count('one'))

2

In [52]:
(a,b) = 4,7

In [53]:
(a, b) = "4","7"

In [57]:
(a,b) = "4-7".split("-") #Split after -

In [58]:
print(a)
print(b)

4
7

In [60]:
def Calc(a,b):
    sm = a+b
    dif = a-b
    m = a*b
    div = a/b
    p = a**b
    return sm,dif,m,div,p

In [61]:
Calc(6,3)

(9, 3, 18, 2.0, 216)

In [62]:
y = Calc(6,3)

In [63]:
print(y)

(9, 3, 18, 2.0, 216)

In [64]:
y[0]

9

In [65]:
s,df,m,dv,pw = Calc(6,3)

In [66]:
print(s)
print(df)
print(m)
print(dv)
print(pw)

9
3
18
2.0
216

In [67]:
print(Calc(6,3)[3])

2.0

In [68]:
print(sum(t1))

6